# 101 Pandas Exercises for Data Analysis

*by Selva Prabhakaran*

From the website: https://www.machinelearningplus.com/python/101-pandas-exercises-python/

*101 python pandas exercises are designed to challenge your logical muscle and to help internalize data manipulation with pythonâ€™s favorite package for data analysis.*
*The questions are of 3 levels of difficulties with L1 being the easiest to L3 being the hardest.*

**NOTE**: Again, its 75 not 100, but the exercises are good.

In [2]:
pip install pandas

Requirement already satisfied: pandas in /home/krybacki/.pyenv/versions/3.12.0/lib/python3.12/site-packages (2.2.0)
Requirement already satisfied: numpy<2,>=1.26.0 in /home/krybacki/.pyenv/versions/3.12.0/lib/python3.12/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/krybacki/.pyenv/versions/3.12.0/lib/python3.12/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /home/krybacki/.pyenv/versions/3.12.0/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /home/krybacki/.pyenv/versions/3.12.0/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /home/krybacki/.pyenv/versions/3.12.0/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 23.2.1 -> 24.0
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

1. (L1) **Import `pandas` and check the version**

In [3]:
import pandas as pd

pd.__version__

/tmp/ipykernel_6893/1300210777.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

'2.2.0'

2. (L1) **Create a `pandas` series from each of the items below: a list, numpy and a dictionary**

In [4]:
import numpy as np

# Inputs

mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

for data in [mylist, myarr, mydict]:
    print(pd.Series(data).head())

0    a
1    b
2    c
3    e
4    d
dtype: object
0    0
1    1
2    2
3    3
4    4
dtype: int64
a    0
b    1
c    2
e    3
d    4
dtype: int64

3. (L1) **Convert the series `ser` into a dataframe with its index as another column on the dataframe.**

In [5]:
# Inputs

mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)

ser.to_frame().reset_index()

   index   0
0      a   0
1      b   1
2      c   2
3      e   3
4      d   4
5      f   5
6      g   6
7      h   7
8      i   8
9      j   9
10     k  10
11     l  11
12     m  12
13     n  13
14     o  14
15     p  15
16     q  16
17     r  17
18     s  18
19     t  19
20     u  20
21     v  21
22     w  22
23     x  23
24     y  24
25     z  25

4. (L1) **Combine `ser1` and `ser2` to form a dataframe.**

In [6]:
# Inputs

ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))

np.all(
    pd.DataFrame([ser1, ser2]).T  # Stacking horizontally and rotating by 90 deg
    == pd.concat([ser1, ser2], axis=1)  # Stacking rotated series
)

True

5. (L1) **Give a name to the series `ser` calling it `my_series`.**

In [7]:
# Input

ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))

ser.name = "my_series"

ser.head()

0    a
1    b
2    c
3    e
4    d
Name: my_series, dtype: object

6. (L2) **From `ser1` remove items present in `ser2`.**

In [8]:
# Inputs

ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

# With numpy
with_numpy = np.setdiff1d(ser1, ser2)

# With pandas
with_pandas = ser1[~ser1.isin(ser2)]

print(with_numpy)  # Results in ndarray
print(with_pandas)  # Results in Series

[1 2 3]
0    1
1    2
2    3
dtype: int64

7. (L2) **Get the items not common to both series `ser1` and `ser2`.**

In [9]:
# Input

ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

union = np.union1d(ser1, ser2)
intersection = np.intersect1d(ser1, ser2)

print(union, intersection)
union[~pd.Series(union).isin(intersection)]

[1 2 3 4 5 6 7 8] [4 5]

array([1, 2, 3, 6, 7, 8])

8. (L2) **Compute the minimum, 25th percentile, median, 75th, and maximum of `ser`.**

In [10]:
# Input

ser = pd.Series(np.random.normal(10, 5, 25))

for method in [pd.Series.max, pd.Series.min, pd.Series.median]:
    print(method(ser))
print(ser.quantile(0.25))
print(ser.quantile(0.75))

20.36828091280382
-4.235579323691169
8.963556180411693
6.205431077649264
13.464796401591313

9. (L2) **Calcualte the frequency counts of each unique item in `ser`.**

In [11]:
# Input

ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))

# Through numpy
with_numpy = np.unique(ser.to_numpy(), return_counts=True)

# Through pandas
with_pandas = ser.value_counts()

print(with_numpy)
print(with_pandas)

(array(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'], dtype=object), array([3, 6, 6, 3, 2, 4, 1, 5]))
c    6
b    6
h    5
f    4
a    3
d    3
e    2
g    1
Name: count, dtype: int64

10. (L2) **From `ser`, keep the top 2 most frequent items as it is and replace everything else as `Other`.**

In [12]:
# Input

np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))


ser[~ser.isin(ser.value_counts()[:2].index.to_series())] = 'Other'
print(ser)

0         2
1     Other
2         3
3     Other
4         3
5         2
6         2
7         3
8         3
9         3
10        3
11    Other
dtype: object

/tmp/ipykernel_6893/2726137041.py:7: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Other' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  ser[~ser.isin(ser.value_counts()[:2].index.to_series())] = 'Other'

11. (L2) **Bin the series `ser` into 10 equal deciles and replace the values with the bin name.**

In [13]:
# Input

ser = pd.Series(np.random.random(20))

with_cut = pd.cut(
    ser,
    bins=np.percentile(ser, np.arange(0, 110, 10)),
    labels=['1st', '2nd', '3rd', '4th', '5th', '6th', '7th', '8th', '9th', '10th'],
    include_lowest=True
)

with_qcut = pd.qcut(
    ser,
    q=np.arange(0, 1.1, .1),
    labels=['1st', '2nd', '3rd', '4th', '5th', '6th', '7th', '8th', '9th', '10th']
)

np.all(with_cut == with_qcut)

True

12. (L1) **Reshape the series `ser` into a dataframe with 7 rows and 5 columns.**

In [14]:
# Input

ser = pd.Series(np.random.randint(1, 10, 35))

pd.DataFrame(
    ser.to_numpy().reshape((7,5))
)

   0  1  2  3  4
0  7  3  9  2  3
1  6  6  9  4  9
2  6  8  5  5  4
3  1  8  3  9  3
4  2  5  9  4  1
5  4  1  1  1  4
6  9  3  9  7  9

13. (L2)  **Find the positions of numbers that are multiples of 3 from `ser`.**

In [15]:
# Input

ser = pd.Series(np.random.randint(1, 10, 7))

print(ser)
np.argwhere(ser.to_numpy() % 3 == 0)

0    9
1    2
2    8
3    8
4    7
5    5
6    5
dtype: int64

array([[0]])

14. (L1) **From `ser`, extract the items at positions in list `pos`.**

In [16]:
# Input

ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]

np.all(ser[pos] == ser.take(pos))

True

15. (L1) **Stack two series vertically and horizontally.**

In [17]:
# Input

ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))

horizontally = pd.concat([ser1, ser2], axis=0)
vertically = pd.concat([ser1, ser2], axis=1)
print(horizontally, vertically)

0    0
1    1
2    2
3    3
4    4
0    a
1    b
2    c
3    d
4    e
dtype: object    0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e

16. (L2) **Get the positions of items of `ser2` in `ser1` as a list.**

In [18]:
# Input

ser1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
ser2 = pd.Series([1, 3, 10, 13])

np.argwhere(
    ser1.isin(ser2).to_numpy()
)

array([[0],
       [4],
       [5],
       [8]])

17. (L2) **Compute the mean squared error of `truth` and `pred`.**

**NOTE**: This question means that we need to calculate the mean squared error between the two series, using the formula:

$$MSE = \dfrac{1}{n} * \sum \left(truth - pred\right)^2$$

In [19]:
# Input

truth = pd.Series(range(10))
pred = pd.Series(range(10)) + np.random.random(10)

np.mean(
    (truth-pred)**2  # Squares of errors
)

0.3035035372046969

18. (L2) **Convert the first character of each element in `ser` to uppercase.**

In [20]:
# Input

ser = pd.Series(['how', 'to', 'kick', 'ass?'])

ser.apply(str.title)

0     How
1      To
2    Kick
3    Ass?
dtype: object

19. (L2) **Calculate the number of characters in each word in `ser`.**

In [21]:
# Input

ser = pd.Series(['how', 'to', 'kick', 'ass?'])

ser.apply(len)

0    3
1    2
2    4
3    4
dtype: int64

20. (L2) **Compute the difference of differences between consecutive numbers in `ser`.**

In [22]:
# Input

ser = pd.Series([1, 3, 6, 10, 15, 21, 27, 35])

ser.diff().diff()

0    NaN
1    NaN
2    1.0
3    1.0
4    1.0
5    1.0
6    0.0
7    2.0
dtype: float64

21. (L2) **Convert a series of date-strings to a timeseries**

Desired output:

```
0   2010-01-01 00:00:00
1   2011-02-02 00:00:00
2   2012-03-03 00:00:00
3   2013-04-04 00:00:00
4   2014-05-05 00:00:00
5   2015-06-06 12:20:00
dtype: datetime64[ns]
```

In [23]:
# Input

ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])

ser.astype('datetime64[ns]')

0   2010-01-01 00:00:00
1   2011-02-02 00:00:00
2   2012-03-03 00:00:00
3   2013-04-04 00:00:00
4   2014-05-05 00:00:00
5   2015-06-06 12:20:00
dtype: datetime64[ns]

22. (L2) **Get the day of month, week number, day of year and day of week from `ser`.**

Desired output:

```
Date:  [1, 2, 3, 4, 5, 6]
Week number:  [53, 5, 9, 14, 19, 23]
Day num of year:  [1, 33, 63, 94, 125, 157]
Day of week:  ['Friday', 'Wednesday', 'Saturday', 'Thursday', 'Monday', 'Saturday']
```

In [24]:
# Input

ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])

# Manual

dates = []
week_numbers = []
day_numbers = []
weekdays = []
weekday_names = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Friday']

for index, date in enumerate(ser.astype('datetime64[ns]')):
    dates.append(index)
    week_numbers.append(date.week)
    day_numbers.append(date.day_of_year)
    weekdays.append(weekday_names[date.weekday()])

print('Manual')
print(dates)
print(week_numbers)
print(day_numbers)
print(weekdays)

# With 'dt' property (incomplete)

import dateutil

timeseries = ser.map(dateutil.parser.parse)

print('\nThrough API')
print(timeseries.dt.day.to_list())
#print(timeseries.dt.weekofyear.to_list()) Doesn't work anymore, maybe API changed!
print(timeseries.dt.day_of_year.to_list())
print(timeseries.dt.weekday.map(lambda weekday_number: weekday_names[weekday_number]).to_list())

Manual
[0, 1, 2, 3, 4, 5]
[53, 5, 9, 14, 19, 23]
[1, 33, 63, 94, 125, 157]
['Friday', 'Wednesday', 'Saturday', 'Thursday', 'Monday', 'Saturday']

Through API
[1, 2, 3, 4, 5, 6]
[1, 33, 63, 94, 125, 157]
['Friday', 'Wednesday', 'Saturday', 'Thursday', 'Monday', 'Saturday']

23. (L2) **Change `ser` to dates that start with 4th of the respective months.**

In [25]:
# Input

ser = pd.Series(['Jan 2010', 'Feb 2011', 'Mar 2012'])

import datetime
def shift_day(day_string: str) -> datetime.datetime:
    return dateutil.parser.parse(f'4th {day_string}')

pd.Series(
    np.vectorize(shift_day)(ser)
)

0   2010-01-04
1   2011-02-04
2   2012-03-04
dtype: datetime64[ns]

24. (L3) **From `ser`, extract words that contain atleast 2 vowels.**

In [26]:
# Input

ser = pd.Series(['Apple', 'Orange', 'Plan', 'Python', 'Money'])

def count_vowels(word: str) -> int:
    return len([
        letter
        for letter in np.array([*word.lower()])
        if letter in ['a', 'e', 'i', 'o', 'u']
    ])

ser[
    ser.map(count_vowels) >= 2  # This serves as mask for the ser Series
]

0     Apple
1    Orange
4     Money
dtype: object

25. (L3) **Extract the valid `emails` from the series emails. The regex pattern for valid emails is provided as reference.**

In [27]:
# Input

emails = pd.Series(['buying books at amazom.com', 'rameses@egypt.com', 'matt@t.co', 'narendra@modi.com'])
pattern ='[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,4}'

import re

emails[
    emails.map(
        lambda input_email: re.compile(pattern).match(input_email)
    ).values != None
]

1    rameses@egypt.com
2            matt@t.co
3    narendra@modi.com
dtype: object

26. (L2) **Compute the mean of `weights` of each `fruit`.**

In [28]:
# Inputs

fruit = pd.Series(np.random.choice(['apple', 'banana', 'carrot'], 10))
weights = pd.Series(np.linspace(1, 10, 10))

fruits_dataframe = pd.DataFrame(
    np.vstack([fruit, weights])
).T
fruits_dataframe.columns = ["fruit", "weight"]
fruits_dataframe.groupby('fruit').mean()

          weight
fruit
apple       6.75
banana       6.0
carrot  3.333333

27. (L2) **Compute the euclidean distance between series (points) p and q, without using a packaged formula.**

In [29]:
# Inputs

p = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
q = pd.Series([10, 9, 8, 7, 6, 5, 4, 3, 2, 1])

via_dataframe = np.sqrt(
    pd.DataFrame([p,q]).T.apply(lambda row: (row[1]-row[0])**2, axis=1).sum(axis=0)
)
via_norm = np.sqrt(np.sum((q-p)**2))

np.isclose(via_dataframe, via_norm)

True

28. (L3) **Get the positions of peaks (values surrounded by smaller values on both sides) in `ser`.**

In [30]:
# Input

ser = pd.Series([2, 10, 3, 4, 9, 10, 2, 7, 3])

# From NumPy exercises
a_diffs = np.sign(np.diff(np.hstack([ser[0], ser])))
[
    diff_index
    for diff_index in range(len(a_diffs[1:]))
    if a_diffs[diff_index] == 1 and a_diffs[diff_index+1] == -1  # Signs of differences: (+1) / [MAX] \ (-1)
]

[1, 5, 7]

29. (L3) **Replace missing spaces in the string `my_str` with the least frequent character.**

In [31]:
# Input

my_str = 'dbc deb abed gade'

uniques, counts = np.unique(
    pd.Series([*my_str]),
    return_counts=True
)
least_frequent_character = uniques[np.argmin(counts)]

my_str.replace(' ', least_frequent_character)

'dbccdebcabedcgade'

30. (L3) **Create a TimeSeries starting `2000-01-01` and 10 weekends (saturdays) after that having random numbers as values.**

In [32]:
pd.DataFrame({
    'date': pd.date_range('2020-01-01', periods=10, freq='7D'),
    'number': np.random.randint(low=0, high=100, size=10)
})

        date  number
0 2020-01-01      97
1 2020-01-08      15
2 2020-01-15       7
3 2020-01-22      50
4 2020-01-29      91
5 2020-02-05      29
6 2020-02-12      83
7 2020-02-19      26
8 2020-02-26      32
9 2020-03-04      90

31. (L2) **`ser` has missing dates and values. Make all missing dates appear and fill up with value from previous date.**

In [33]:
# Input

ser = pd.Series([1,10,3,np.nan], index=pd.to_datetime(['2000-01-01', '2000-01-03', '2000-01-06', '2000-01-08']))

'''
From docs:

Series.resample: method for frequency conversion and resampling of time series

Here: instead of sampling at random days, we shift the frequency to ONE DAY and then fill missing values with ffill
'''
ser.resample('D').ffill()

2000-01-01     1.0
2000-01-02     1.0
2000-01-03    10.0
2000-01-04    10.0
2000-01-05    10.0
2000-01-06     3.0
2000-01-07     3.0
2000-01-08     NaN
Freq: D, dtype: float64

32. (L3) **Compute autocorrelations for the first 10 lags of `ser`. Find out which lag has the largest correlation.**

Desired output:

```python
# values will change due to randomness
[0.29999999999999999, -0.11, -0.17000000000000001, 0.46000000000000002, 0.28000000000000003, -0.040000000000000001, -0.37, 0.41999999999999998, 0.47999999999999998, 0.17999999999999999]
Lag having highest correlation:  9
```

In [34]:
# Input

ser = pd.Series(np.arange(20) + np.random.normal(1, 10, 20))

autocorrelations = pd.Series([
    ser.autocorr(lag)
    for lag in range(1,11)
])

print(autocorrelations.to_list())
print(autocorrelations.copy().abs().argmax() + 1)

[0.06365569083767854, 0.03428529144874071, -0.5479207832056509, -0.03271169879940599, 0.024291845568182875, 0.685658963398049, 0.22749947239229917, 0.005757382953555728, -0.5314273527042868, -0.22658560938965483]
6

33. (L2) **Import every 50th row of `boston` dataset as a dataframe.**

In [35]:
import requests

BOSTON_URL = "https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv"

pd.DataFrame([
    chunk.iloc[0,:]  # This takes first line
    for chunk in pd.read_csv(
        BOSTON_URL,
        chunksize=50  # Of every chunk that is 50 rows long
    )
]).reset_index().drop('index', axis=1)

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.08873,21.0,5.64,0.0,0.439,5.963,45.7,6.8147,4.0,243.0,16.8,395.56,13.45,19.7
2,0.14866,0.0,8.56,0.0,0.520,6.727,79.9,2.7778,5.0,384.0,20.9,394.76,9.42,27.5
3,1.65660,0.0,19.58,0.0,0.871,6.122,97.3,1.6180,5.0,403.0,14.7,372.80,14.10,21.5
4,0.01778,95.0,1.47,0.0,0.403,7.135,13.9,7.6534,3.0,402.0,17.0,384.30,4.45,32.9
5,0.14030,22.0,5.86,0.0,0.431,6.487,13.0,7.3967,7.0,330.0,19.1,396.28,5.90,24.4
6,0.04417,70.0,2.24,0.0,0.400,6.871,47.4,7.8278,5.0,358.0,14.8,390.86,6.07,24.8
7,0.06211,40.0,1.25,0.0,0.429,6.490,44.4,8.7921,1.0,335.0,19.7,396.90,5.98,22.9
8,25.04610,0.0,18.10,0.0,0.693,5.987,100.0,1.5888,24.0,666.0,20.2,396.90,26.77,5.6
9,6.71772,0.0,18.10,0.0,0.713,6.749,92.6,2.3236,24.0,666.0,20.2,0.32,17.44,13.4
10,0.22438,0.0,9.69,0.0,0.585,6.027,79.7,2.4982,6.0,391.0,19.2,396.90,14.33,16.8

34. (L2) **Import the boston housing dataset, but while importing change the `medv` (median house value) column so that values < 25 becomes `Low` and > 25 becomes `High`.**

In [36]:
def categorize(row: np.generic):
    row['medv'] = 'Low' if row['medv'] < 25 else 'High'
    return row

via_apply = pd.read_csv(BOSTON_URL).apply(categorize, axis=1)
via_converters = pd.read_csv(BOSTON_URL, converters={
    'medv': lambda median_value: 'Low' if float(median_value) < 25 else 'High'
})
np.all(via_apply == via_converters)

/tmp/ipykernel_6893/2166384524.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Low' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  row['medv'] = 'Low' if row['medv'] < 25 else 'High'
/tmp/ipykernel_6893/2166384524.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'High' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  row['medv'] = 'Low' if row['medv'] < 25 else 'High'

True

35. (L3) **Create a dataframe with rows as strides from a given series**

Desired output:

```python
array([[ 0,  1,  2,  3],
       [ 2,  3,  4,  5],
       [ 4,  5,  6,  7],
       [ 6,  7,  8,  9],
       [ 8,  9, 10, 11],
       [10, 11, 12, 13]])
```

In [37]:
# Input

L = pd.Series(range(15))

window_width = 4
stride_jump = 2

pd.DataFrame(
np.array(
    [
        L[stride_jump*stride:(stride_jump*stride+window_width)]
        for stride in range(int((len(L)-window_width)/stride_jump) + 1)
    ]
    ).reshape(
        (-1, window_width)
    )
)

    0   1   2   3
0   0   1   2   3
1   2   3   4   5
2   4   5   6   7
3   6   7   8   9
4   8   9  10  11
5  10  11  12  13

36. (L1) **Import `crim` and `medv` columns of the BostonHousing dataset as a dataframe.**

In [38]:
pd.read_csv(BOSTON_URL, usecols=['crim', 'medv'])

        crim  medv
0    0.00632  24.0
1    0.02731  21.6
2    0.02729  34.7
3    0.03237  33.4
4    0.06905  36.2
..       ...   ...
501  0.06263  22.4
502  0.04527  20.6
503  0.06076  23.9
504  0.10959  22.0
505  0.04741  11.9

[506 rows x 2 columns]

37. (L2) **Get the number of rows, columns, datatype and summary statistics of each column of the `Cars93` dataset. Also get the numpy array and list equivalent of the dataframe.**

In [39]:
# Input

CARS93_URL = "https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv"
cars = pd.read_csv(CARS93_URL)

print(
    cars.info(),
    '\n',
    cars.describe(),
    '\n',
    cars.to_numpy(),
    '\n',
    cars.to_numpy().tolist()
)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93 entries, 0 to 92
Data columns (total 27 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Manufacturer        89 non-null     object
 1   Model               92 non-null     object
 2   Type                90 non-null     object
 3   Min.Price           86 non-null     float64
 4   Price               91 non-null     float64
 5   Max.Price           88 non-null     float64
 6   MPG.city            84 non-null     float64
 7   MPG.highway         91 non-null     float64
 8   AirBags             55 non-null     object
 9   DriveTrain          86 non-null     object
 10  Cylinders           88 non-null     object
 11  EngineSize          91 non-null     float64
 12  Horsepower          86 non-null     float64
 13  RPM                 90 non-null     float64
 14  Rev.per.mile        87 non-null     float64
 15  Man.trans.avail     88 non-null     object
 16  Fuel.tank.capacity  85 non-null     float64
 17  Passengers          91 non-null     float64
 18  Length              89 non-null     float64
 19  Wheelbase           92 non-null     float64
 20  Width               87 non-null     float64
 21  Turn.circle         88 non-null     float64
 22  Rear.seat.room      89 non-null     float64
 23  Luggage.room        74 non-null     float64
 24  Weight              86 non-null     float64
 25  Origin              88 non-null     object
 26  Make                90 non-null     object
dtypes: float64(18), object(9)
memory usage: 19.7+ KB
None
        Min.Price      Price  Max.Price   MPG.city  MPG.highway  EngineSize  \
count  86.000000  91.000000  88.000000  84.000000    91.000000   91.000000
mean   17.118605  19.616484  21.459091  22.404762    29.065934    2.658242
std     8.828290   9.724280  10.696563   5.841520     5.370293    1.045845
min     6.700000   7.400000   7.900000  15.000000    20.000000    1.000000
25%    10.825000  12.350000  14.575000  18.000000    26.000000    1.800000
50%    14.600000  17.700000  19.150000  21.000000    28.000000    2.300000
75%    20.250000  23.500000  24.825000  25.000000    31.000000    3.250000
max    45.400000  61.900000  80.000000  46.000000    50.000000    5.700000

       Horsepower          RPM  Rev.per.mile  Fuel.tank.capacity  Passengers  \
count   86.000000    90.000000     87.000000           85.000000   91.000000
mean   144.000000  5276.666667   2355.000000           16.683529    5.076923
std     53.455204   605.554811    486.916616            3.375748    1.045953
min     55.000000  3800.000000   1320.000000            9.200000    2.000000
25%    100.750000  4800.000000   2017.500000           14.500000    4.000000
50%    140.000000  5200.000000   2360.000000           16.500000    5.000000
75%    170.000000  5787.500000   2565.000000           19.000000    6.000000
max    300.000000  6500.000000   3755.000000           27.000000    8.000000

           Length   Wheelbase      Width  Turn.circle  Rear.seat.room  \
count   89.000000   92.000000  87.000000    88.000000       89.000000
mean   182.865169  103.956522  69.448276    38.954545       27.853933
std     14.792651    6.856317   3.778023     3.304157        3.018129
min    141.000000   90.000000  60.000000    32.000000       19.000000
25%    174.000000   98.000000  67.000000    36.000000       26.000000
50%    181.000000  103.000000  69.000000    39.000000       27.500000
75%    192.000000  110.000000  72.000000    42.000000       30.000000
max    219.000000  119.000000  78.000000    45.000000       36.000000

       Luggage.room       Weight
count     74.000000    86.000000
mean      13.986486  3104.593023
std        3.120824   600.129993
min        6.000000  1695.000000
25%       12.000000  2647.500000
50%       14.000000  3085.000000
75%       16.000000  3567.500000
max       22.000000  4105.000000
 [['Acura' 'Integra' 'Small' ... 2705.0 'non-USA' 'Acura Integra']
 [nan 'Legend' 'Midsize' ... 3560.0 'non-USA' 'Acura Legend']
 ['Audi' '90' 'Compact' ... 3375.0 'non-USA' 'Audi 90']
 ...
 ['Volkswagen' 'Corrado' 'Sporty' ... 2810.0 'non-USA'
  'Volkswagen Corrado']
 ['Volvo' '240' 'Compact' ... 2985.0 'non-USA' 'Volvo 240']
 [nan '850' 'Midsize' ... 3245.0 'non-USA' 'Volvo 850']]

38. (L1) **Which manufacturer, model and type has the highest Price? What is the row and column number of the cell with the highest Price value?**

In [40]:
# Input

cars = pd.read_csv(CARS93_URL)

max_price_car = cars.loc[
    np.argmax(  # Row of max price
        cars['Price']
    ), 
    ['Manufacturer', 'Model', 'Type']  # Which columns
]
print(max_price_car)
np.where(  # Locate i,j of max Price cell
    cars.values == np.max(cars['Price'])
)

Manufacturer    Mercedes-Benz
Model                    300E
Type                  Midsize
Name: 58, dtype: object

(array([58]), array([4]))

39. (L2) **Rename the column `Type` as `CarType` in df and replace the `.` in column names with `_`.**

Desired output:

```python
 print(df.columns)
#> Index(['Manufacturer', 'Model', 'CarType', 'Min_Price', 'Price', 'Max_Price',
#>        'MPG_city', 'MPG_highway', 'AirBags', 'DriveTrain', 'Cylinders',
#>        'EngineSize', 'Horsepower', 'RPM', 'Rev_per_mile', 'Man_trans_avail',
#>        'Fuel_tank_capacity', 'Passengers', 'Length', 'Wheelbase', 'Width',
#>        'Turn_circle', 'Rear_seat_room', 'Luggage_room', 'Weight', 'Origin',
#>        'Make'],
#>       dtype='object')
```

In [41]:
# Input

cars = pd.read_csv(CARS93_URL)

cars.columns = [
    column.replace('.', '_')
    for column in cars.columns
]
cars.rename(columns={'Type': 'CarType'})

,Manufacturer,Model,CarType,Min_Price,Price,Max_Price,MPG_city,MPG_highway,AirBags,DriveTrain,...,Passengers,Length,Wheelbase,Width,Turn_circle,Rear_seat_room,Luggage_room,Weight,Origin,Make
0,Acura,Integra,Small,12.9,15.9,18.8,25.0,31.0,NaN,Front,...,5.0,177.0,102.0,68.0,37.0,26.5,NaN,2705.0,non-USA,Acura Integra
1,NaN,Legend,Midsize,29.2,33.9,38.7,18.0,25.0,Driver & Passenger,Front,...,5.0,195.0,115.0,71.0,38.0,30.0,15.0,3560.0,non-USA,Acura Legend
2,Audi,90,Compact,25.9,29.1,32.3,20.0,26.0,Driver only,Front,...,5.0,180.0,102.0,67.0,37.0,28.0,14.0,3375.0,non-USA,Audi 90
3,Audi,100,Midsize,NaN,37.7,44.6,19.0,26.0,Driver & Passenger,NaN,...,6.0,193.0,106.0,NaN,37.0,31.0,17.0,3405.0,non-USA,Audi 100
4,BMW,535i,Midsize,NaN,30.0,NaN,22.0,30.0,NaN,Rear,...,4.0,186.0,109.0,69.0,39.0,27.0,13.0,3640.0,non-USA,BMW 535i
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,Volkswagen,Eurovan,Van,16.6,19.7,22.7,17.0,21.0,NaN,Front,...,7.0,187.0,115.0,72.0,38.0,34.0,NaN,3960.0,NaN,Volkswagen Eurovan
89,Volkswagen,Passat,Compact,17.6,20.0,22.4,21.0,30.0,NaN,Front,...,5.0,180.0,103.0,67.0,35.0,31.5,14.0,2985.0,non-USA,Volkswagen Passat
90,Volkswagen,Corrado,Sporty,22.9,23.3,23.7,18.0,25.0,NaN,Front,...,4.0,159.0,97.0,66.0,36.0,26.0,15.0,2810.0,non-USA,Volkswagen Corrado
91,Volvo,240,Compact,21.8,22.7,23.5,21.0,28.0,Driver only,Rear,...,5.0,190.0,104.0,67.0,37.0,29.5,14.0,2985.0,non-USA,Volvo 240
92,NaN,850,Midsize,24.8,26.7,28.5,20.0,28.0,Driver & Passenger,Front,...,5.0,184.0,105.0,69.0,38.0,30.0,15.0,3245.0,non-USA,Volvo 850

40. (L1) **Check if `df` has any missing values.**

In [42]:
# Input

cars = pd.read_csv(CARS93_URL)

np.any(
    cars.isna()
)

True

41. (L2) **Count the number of missing values in each column of `df`.**

In [43]:
# Input

cars = pd.read_csv(CARS93_URL)

nans = cars.isna().astype(int).sum(axis=0)
nans[
    nans == nans.max()
]

AirBags    38
dtype: int64

42. (L2) **Replace missing values in `Min.Price` and `Max.Price` columns with their respective mean.**

In [44]:
# Input

cars = pd.read_csv(CARS93_URL)

for column in ['Min.Price', 'Max.Price']:
    cars[column].fillna(
        cars[column].mean().round(1),
        inplace=True
    )
cars

/tmp/ipykernel_6893/3840202029.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  cars[column].fillna(

,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
0,Acura,Integra,Small,12.9,15.9,18.8,25.0,31.0,NaN,Front,...,5.0,177.0,102.0,68.0,37.0,26.5,NaN,2705.0,non-USA,Acura Integra
1,NaN,Legend,Midsize,29.2,33.9,38.7,18.0,25.0,Driver & Passenger,Front,...,5.0,195.0,115.0,71.0,38.0,30.0,15.0,3560.0,non-USA,Acura Legend
2,Audi,90,Compact,25.9,29.1,32.3,20.0,26.0,Driver only,Front,...,5.0,180.0,102.0,67.0,37.0,28.0,14.0,3375.0,non-USA,Audi 90
3,Audi,100,Midsize,17.1,37.7,44.6,19.0,26.0,Driver & Passenger,NaN,...,6.0,193.0,106.0,NaN,37.0,31.0,17.0,3405.0,non-USA,Audi 100
4,BMW,535i,Midsize,17.1,30.0,21.5,22.0,30.0,NaN,Rear,...,4.0,186.0,109.0,69.0,39.0,27.0,13.0,3640.0,non-USA,BMW 535i
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,Volkswagen,Eurovan,Van,16.6,19.7,22.7,17.0,21.0,NaN,Front,...,7.0,187.0,115.0,72.0,38.0,34.0,NaN,3960.0,NaN,Volkswagen Eurovan
89,Volkswagen,Passat,Compact,17.6,20.0,22.4,21.0,30.0,NaN,Front,...,5.0,180.0,103.0,67.0,35.0,31.5,14.0,2985.0,non-USA,Volkswagen Passat
90,Volkswagen,Corrado,Sporty,22.9,23.3,23.7,18.0,25.0,NaN,Front,...,4.0,159.0,97.0,66.0,36.0,26.0,15.0,2810.0,non-USA,Volkswagen Corrado
91,Volvo,240,Compact,21.8,22.7,23.5,21.0,28.0,Driver only,Rear,...,5.0,190.0,104.0,67.0,37.0,29.5,14.0,2985.0,non-USA,Volvo 240
92,NaN,850,Midsize,24.8,26.7,28.5,20.0,28.0,Driver & Passenger,Front,...,5.0,184.0,105.0,69.0,38.0,30.0,15.0,3245.0,non-USA,Volvo 850

43. (L3) **In `df`, use apply method to replace the missing values in `Min.Price` with the columnâ€™s mean and those in `Max.Price` with the columnâ€™s median.**

In [45]:
# Input

dataframe = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

def filler(column: pd.Series):  # On deafult, apply happens PER COLUMN
    if reducer := {
        'Min.Price': np.nanmean,  # Drops NaN
        'Max.Price': np.nanmedian,  # Ditto
    }.get(column.name):
        return column.fillna(value=reducer(column).round(1))
    return column

dataframe.apply(filler)

,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
0,Acura,Integra,Small,12.9,15.9,18.8,25.0,31.0,NaN,Front,...,5.0,177.0,102.0,68.0,37.0,26.5,NaN,2705.0,non-USA,Acura Integra
1,NaN,Legend,Midsize,29.2,33.9,38.7,18.0,25.0,Driver & Passenger,Front,...,5.0,195.0,115.0,71.0,38.0,30.0,15.0,3560.0,non-USA,Acura Legend
2,Audi,90,Compact,25.9,29.1,32.3,20.0,26.0,Driver only,Front,...,5.0,180.0,102.0,67.0,37.0,28.0,14.0,3375.0,non-USA,Audi 90
3,Audi,100,Midsize,17.1,37.7,44.6,19.0,26.0,Driver & Passenger,NaN,...,6.0,193.0,106.0,NaN,37.0,31.0,17.0,3405.0,non-USA,Audi 100
4,BMW,535i,Midsize,17.1,30.0,19.2,22.0,30.0,NaN,Rear,...,4.0,186.0,109.0,69.0,39.0,27.0,13.0,3640.0,non-USA,BMW 535i
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,Volkswagen,Eurovan,Van,16.6,19.7,22.7,17.0,21.0,NaN,Front,...,7.0,187.0,115.0,72.0,38.0,34.0,NaN,3960.0,NaN,Volkswagen Eurovan
89,Volkswagen,Passat,Compact,17.6,20.0,22.4,21.0,30.0,NaN,Front,...,5.0,180.0,103.0,67.0,35.0,31.5,14.0,2985.0,non-USA,Volkswagen Passat
90,Volkswagen,Corrado,Sporty,22.9,23.3,23.7,18.0,25.0,NaN,Front,...,4.0,159.0,97.0,66.0,36.0,26.0,15.0,2810.0,non-USA,Volkswagen Corrado
91,Volvo,240,Compact,21.8,22.7,23.5,21.0,28.0,Driver only,Rear,...,5.0,190.0,104.0,67.0,37.0,29.5,14.0,2985.0,non-USA,Volvo 240
92,NaN,850,Midsize,24.8,26.7,28.5,20.0,28.0,Driver & Passenger,Front,...,5.0,184.0,105.0,69.0,38.0,30.0,15.0,3245.0,non-USA,Volvo 850

44. (L2) **Get the first column (a) in `df` as a dataframe (rather than as a series).**

In [46]:
# Input

dataframe = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))

np.all(
    pd.DataFrame(dataframe[  # Brute-force
        dataframe.columns[0]
    ]) == dataframe[[dataframe.columns[0]]]  # Shorthand
)

True

45. (L3) Actually 3 questions.

* **In `df`, interchange columns `a` and `c`.**
* **Create a generic function to interchange two columns, without hardcoding column names.**
* **Sort the columns in reverse alphabetical order, that is column `e` first through column `a` last.**

In [47]:
# Input

dataframe = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))

# Swapping function
def swap_axes(dataframe: pd.DataFrame, axis_1: str, axis_2: str) -> None:
    if axis_1 == axis_2:
        return
    dataframe[[axis_1, axis_2]] = dataframe[[axis_2, axis_1]]
    dataframe.rename(mapper={axis_1: axis_2, axis_2: axis_1}, inplace=True, axis=1)

# Reversing with the function
for mapping_index in range(len(dataframe.columns)):
    axis_1 = dataframe.columns[mapping_index] 
    axis_2 = sorted(dataframe.columns, reverse=True)[mapping_index]
    swap_axes(dataframe, axis_1=axis_1, axis_2=axis_2)

print(dataframe)

# Sorting alphabetically, descending
dataframe.sort_index(axis=1, ascending=False, inplace=True)
dataframe

    e   d   c   b   a
0   4   3   2   1   0
1   9   8   7   6   5
2  14  13  12  11  10
3  19  18  17  16  15

    e   d   c   b   a
0   4   3   2   1   0
1   9   8   7   6   5
2  14  13  12  11  10
3  19  18  17  16  15

46. (L2) **Change the pandas display settings on printing the dataframe `df` it shows a maximum of 10 rows and 10 columns.**

In [48]:
# Input

dataframe = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

pd.set_option('display.max_rows', 10)
pd.set_option('display.max_columns', 10)
dataframe

,Manufacturer,Model,Type,Min.Price,Price,...,Rear.seat.room,Luggage.room,Weight,Origin,Make
0,Acura,Integra,Small,12.9,15.9,...,26.5,NaN,2705.0,non-USA,Acura Integra
1,NaN,Legend,Midsize,29.2,33.9,...,30.0,15.0,3560.0,non-USA,Acura Legend
2,Audi,90,Compact,25.9,29.1,...,28.0,14.0,3375.0,non-USA,Audi 90
3,Audi,100,Midsize,NaN,37.7,...,31.0,17.0,3405.0,non-USA,Audi 100
4,BMW,535i,Midsize,NaN,30.0,...,27.0,13.0,3640.0,non-USA,BMW 535i
...,...,...,...,...,...,...,...,...,...,...,...
88,Volkswagen,Eurovan,Van,16.6,19.7,...,34.0,NaN,3960.0,NaN,Volkswagen Eurovan
89,Volkswagen,Passat,Compact,17.6,20.0,...,31.5,14.0,2985.0,non-USA,Volkswagen Passat
90,Volkswagen,Corrado,Sporty,22.9,23.3,...,26.0,15.0,2810.0,non-USA,Volkswagen Corrado
91,Volvo,240,Compact,21.8,22.7,...,29.5,14.0,2985.0,non-USA,Volvo 240
92,NaN,850,Midsize,24.8,26.7,...,30.0,15.0,3245.0,non-USA,Volvo 850

47. (L2) **Suppress scientific notations like `e-03` in df and print upto 4 numbers after decimal.**

Desired output:

```python
#>    random
#> 0  0.0035
#> 1  0.0000
#> 2  0.0747
#> 3  0.0000
```

In [49]:
# Input

dataframe = pd.DataFrame(np.random.random(4)**10, columns=['random'])

pd.set_option('display.precision', 4)
dataframe

       random
0  3.9123e-10
1  3.5427e-01
2  1.1045e-01
3  3.3532e-07

48. (L2) **Format the values in column `random` of `df` as percentages.**

In [50]:
# Input

dataframe = pd.DataFrame(np.random.random(4), columns=['random'])

dataframe.style.format({
    'random': lambda value: f'{round((value * 100), 2)}%'
})

49. (L1) **From `df`, filter the `Manufacturer`, `Model` and `Type` for every 20th row starting from 1st (row 0).**

In [51]:
# Input

dataframe = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

dataframe[['Manufacturer', 'Model', 'Type']].iloc[::20]

   Manufacturer    Model     Type
0         Acura  Integra    Small
20     Chrysler  LeBaron  Compact
40        Honda  Prelude   Sporty
60      Mercury   Cougar  Midsize
80       Subaru   Loyale    Small

50. (L2) **In `df`, Replace NaNs with â€˜missingâ€™ in columns 'Manufacturer', 'Model' and 'Type' and create a index as a combination of these three columns and check if the index is a primary key.**

Desired output:

```python
                       Manufacturer    Model     Type  Min.Price  Max.Price
Acura_Integra_Small           Acura  Integra    Small       12.9       18.8
missing_Legend_Midsize      missing   Legend  Midsize       29.2       38.7
Audi_90_Compact                Audi       90  Compact       25.9       32.3
Audi_100_Midsize               Audi      100  Midsize        NaN       44.6
BMW_535i_Midsize                BMW     535i  Midsize        NaN        NaN
```

In [52]:
# Input

dataframe = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv', usecols=[0,1,2,3,5])

dataframe[['Manufacturer', 'Model', 'Type']] = dataframe[['Manufacturer', 'Model', 'Type']].fillna(value='missing')
dataframe.set_index(
    dataframe['Manufacturer'] + '_' + dataframe['Model'] + '_' + dataframe['Type']
)

                          Manufacturer    Model     Type  Min.Price  Max.Price
Acura_Integra_Small              Acura  Integra    Small       12.9       18.8
missing_Legend_Midsize         missing   Legend  Midsize       29.2       38.7
Audi_90_Compact                   Audi       90  Compact       25.9       32.3
Audi_100_Midsize                  Audi      100  Midsize        NaN       44.6
BMW_535i_Midsize                   BMW     535i  Midsize        NaN        NaN
...                                ...      ...      ...        ...        ...
Volkswagen_Eurovan_Van      Volkswagen  Eurovan      Van       16.6       22.7
Volkswagen_Passat_Compact   Volkswagen   Passat  Compact       17.6       22.4
Volkswagen_Corrado_Sporty   Volkswagen  Corrado   Sporty       22.9       23.7
Volvo_240_Compact                Volvo      240  Compact       21.8       23.5
missing_850_Midsize            missing      850  Midsize       24.8       28.5

[93 rows x 5 columns]

51. (L2) **Find the row position of the 5th largest value of column `a` in `df`.**

In [53]:
# Input

dataframe = pd.DataFrame(np.random.randint(1, 30, 30).reshape(10,-1), columns=list('abc'))

np.argsort(  # Sort
    dataframe['a']
)[::-1][5]  # Reverse and take the 5th element

2

52. (L2) **In `ser`, find the position of the 2nd largest value greater than the mean.**

In [54]:
# Input

ser = pd.Series(np.random.randint(1, 100, 15))

# This returns correct index
with_sort_values = ser[ser > ser.mean()].sort_values(ascending=False).keys()[1]

# This always returns 1 but is "the correct soltion from site" ðŸ¤·
with_argwhere = np.argwhere(ser[ser > ser.mean()])[1]

print(with_argwhere, with_sort_values)

[1] 1

53. (L2) **Get the last two rows of `df` whose row sum is greater than 100.**

In [55]:
# Input

dataframe = pd.DataFrame(np.random.randint(10, 40, 60).reshape(-1, 4))

dataframe[
    dataframe.sum(axis=1) > 100
][-2:]

     0   1   2   3
10  27  37  22  32
13  28  27  15  33

54. (L2) **Replace all values of `ser` in the lower 5%ile and greater than 95%ile with respective 5th and 95th %ile value.**

In [56]:
# Input

ser = pd.Series(np.logspace(-2, 2, 30))

ser[
    ser < ser.quantile(0.05)
] = ser.quantile(0.05)
ser[
    ser > ser.quantile(0.95)
] = ser.quantile(0.95)

ser

0      0.0160
1      0.0160
2      0.0189
3      0.0259
4      0.0356
       ...
25    28.0722
26    38.5662
27    52.9832
28    63.8767
29    63.8767
Length: 30, dtype: float64

55. (L3) **Reshape `df` to the largest possible square with negative values removed. Drop the smallest values if need be. The order of the positive numbers in the result should remain the same as the original.**

In [57]:
# Input

dataframe = pd.DataFrame(np.random.randint(-20, 50, 100).reshape(10,-1))

cleared_array = np.array([
    number
    for number in dataframe.to_numpy().flatten()
    if number >= 0
])

square_size = int(np.sqrt(len(cleared_array)))
values_to_remove = len(cleared_array) - square_size**2
smallest_values_indices = np.argsort(cleared_array)[:values_to_remove]

pd.DataFrame(
    np.delete(cleared_array, smallest_values_indices)  # Remove first N smallest values
        .reshape(square_size, square_size)  # Reshape into square
)

    0   1   2   3   4   5   6   7
0  26  25  29  38  17  34  25  46
1   8   1  35  49  37  46   8   5
2  14  41   1   7  17  23  41  46
3   2  44  10  47  14  32   5  47
4  40  37   6  39  26  48   2  46
5  14  24  47  32  19  26   7  33
6  12  37  33   2  29  32  38   7
7  43  10  47  33  33  34  41  40

56. (L2) **Swap rows 1 and 2 in `df`.**

In [58]:
# Input

df = pd.DataFrame(np.arange(25).reshape(5, -1))

def swap_rows(dataframe: pd.DataFrame, row_1: int, row_2: int):
    tmp = dataframe.iloc[row_1].copy()
    dataframe.iloc[row_1] = dataframe.iloc[row_2]
    dataframe.iloc[row_2] = tmp

df

    0   1   2   3   4
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19
4  20  21  22  23  24

57. (L2) **Reverse all the rows of dataframe `df`.**

In [59]:
# Input

df = pd.DataFrame(np.arange(25).reshape(5, -1))
df_swap = df.copy()

# Basically apply the function row-wise
for swap_index in range(len(df) // 2):
    swap_rows(df_swap, row_1=swap_index, row_2=len(df)-swap_index-1)
print(df_swap)

print('\n', df.iloc[::-1,])  # Swapping with fancy indexing

    0   1   2   3   4
0  20  21  22  23  24
1  15  16  17  18  19
2  10  11  12  13  14
3   5   6   7   8   9
4   0   1   2   3   4

     0   1   2   3   4
4  20  21  22  23  24
3  15  16  17  18  19
2  10  11  12  13  14
1   5   6   7   8   9
0   0   1   2   3   4

58. (L2) **Get one-hot encodings for column `a` in the dataframe `df` and append it as columns.**

Desired output:

```python
# Input
   a   b   c   d   e
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19
4  20  21  22  23  24

# Output
0  5  10  15  20   b   c   d   e
0  1  0   0   0   0   1   2   3   4
1  0  1   0   0   0   6   7   8   9
2  0  0   1   0   0  11  12  13  14
3  0  0   0   1   0  16  17  18  19
4  0  0   0   0   1  21  22  23  24
```

In [60]:
# Input

df = pd.DataFrame(np.arange(25).reshape(5,-1), columns=list('abcde'))

# Constructing the one-hot encodings via I-matrix
a_values = df['a']
one_hot_encodings = pd.DataFrame(
    # Since the order is the same as 'a' column,
    # the I matrix will follow the appearance of values in df array
    np.eye(df.shape[0], len(a_values))
).astype(int)  # Cast to integers
one_hot_encodings.columns = a_values  # Set column names
manual = pd.concat([one_hot_encodings, df], axis=1)
manual.drop(['a'], axis=1, inplace=True)  # Manually drop 'a' column

# Via get_dummies
with_get_dummies = pd.concat(
    [
        pd.get_dummies(df['a']).astype(int),  # Convert 'a' column to one-got enc. and cast to int
        df[['b','c','d','e']]  # Append remaining columns
    ],
    axis=1
)
print(np.all(manual == with_get_dummies))
with_get_dummies

True

   0  5  10  15  20   b   c   d   e
0  1  0   0   0   0   1   2   3   4
1  0  1   0   0   0   6   7   8   9
2  0  0   1   0   0  11  12  13  14
3  0  0   0   1   0  16  17  18  19
4  0  0   0   0   1  21  22  23  24

59. (L2) **Obtain the column name with the highest number of row-wise maximumâ€™s in `df`.**

In [61]:
# Input

df = pd.DataFrame(np.random.randint(1,100, 40).reshape(10, -1))

row_wise_maximums = df.apply(np.argmax, axis=1)
row_wise_maximums.value_counts().index[0]

2

60. (L3) **Create a new column such that, each row contains the row number of nearest row-record by euclidean distance.**

Desired output:

```python
   p   q   r   s nearest_row   dist
a  57  77  13  62           i  116.0
b  68   5  92  24           a  114.0
c  74  40  18  37           i   91.0
d  80  17  39  60           i   89.0
e  93  48  85  33           i   92.0
f  69  55   8  11           g  100.0
g  39  23  88  53           f  100.0
h  63  28  25  61           i   88.0
i  18   4  73   7           a  116.0
j  79  12  45  34           a   81.0
```

In [62]:
# Input

df = pd.DataFrame(np.random.randint(1,100,40).reshape(10, -1), columns=list('pqrs'), index=list('abcdefghij'))

euclidean_distances = {
    'nearest_row': [],
    'dist': []
}

for first_row in range(0, df.shape[0]):
    distances = []
    ids = []
    for second_row in range(0, df.shape[0]):
        if first_row == second_row:
            continue
        euclidean_distance = np.linalg.norm(
            (df.iloc[second_row] - df.iloc[first_row])
        )
        distances.append(euclidean_distance)
        ids.append(df.iloc[second_row].name)
    series = pd.Series(distances, index=ids)
    euclidean_distances['nearest_row'].append(
        series.index[series.argmin()]
    )
    euclidean_distances['dist'].append(
        series.min()
    )
distances_df = pd.DataFrame(euclidean_distances, index=df.index)
pd.concat([df, distances_df], axis=1)

    p   q   r   s nearest_row     dist
a  16  39  72  76           e  34.5398
b  29  13  28   3           d  30.4959
c  37  56  27  76           h  25.8844
d  49  25  33  22           b  30.4959
e   2  63  58  91           a  34.5398
f  30  31  36  66           c  29.2404
g   1  14  29  76           f  35.7631
h  56  49  13  68           c  25.8844
i  96  91   2  61           h  59.4475
j  85  72  81  61           c  75.5050

61. (L2) **Compute maximum possible absolute correlation value of each column against other columns in `df`.**

In [63]:
# Input

df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1), columns=list('pqrstuvwxy'), index=list('abcdefgh'))

correlations = {
    'index': [],
    'col': [],
    'corr': []
}

correlation_matrix = df.corr().abs()
for correlation in correlation_matrix:
    correlations['index'].append(correlation)
    max_correlation = correlation_matrix[correlation_matrix != 1][correlation].max()
    correlations['corr'].append(max_correlation)
    correlations['col'].append(
        correlation_matrix[correlation_matrix != 1][correlation].index[
            correlation_matrix[correlation_matrix != 1][correlation].argmax()
        ]
    )

pd.DataFrame(correlations, index=correlations['index']).drop('index', axis=1)

  col    corr
p   y  0.8772
q   p  0.7642
r   u  0.3204
s   u  0.6338
t   u  0.6604
u   x  0.7301
v   q  0.6770
w   y  0.4377
x   u  0.7301
y   p  0.8772

62. (L2) **Compute the minimum-by-maximum for every row of `df`.**

In [64]:
# Input

df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1))

df.apply(lambda row: row.min()/row.max(), axis=1)

0    0.0308
1    0.0920
2    0.0202
3    0.0404
4    0.1753
5    0.2421
6    0.1789
7    0.1250
dtype: float64

63. (L2) **Create a new column `penultimate` which has the second largest value of each row of `df`.**

In [65]:
# Input

df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1))

# This approach doesn't filter repeating values :()
penultimates_args = df.apply(lambda row: row.argsort().iloc[-2], axis=1)
penultimates = [
    row[1][index]
    for index, row in zip(penultimates_args, df.iterrows())
]
df['penultimates'] = penultimates
print(df)

# This does! (better)
other_penultimates = df.apply(lambda row: row.sort_values().unique()[-2], axis=1)
df['penultimates'] = other_penultimates
print(df)

    0   1   2   3   4  ...   6   7   8   9  penultimates
0   8  72  28  15  75  ...  27  51  59  41            72
1  51  96  31   2  97  ...  88  32  23  45            96
2  89  15  47  58  62  ...  63  84  29  86            89
3  40  11  52  29  15  ...  31  36  68  94            91
4  78   5  25  44  20  ...  90  46  66  40            78
5  60  42  94   8   2  ...  36  45  48  82            82
6  53  62  77  58  60  ...  52  17  82  24            77
7  98  20  17  11  71  ...  49  83  17  84            84

[8 rows x 11 columns]
    0   1   2   3   4  ...   6   7   8   9  penultimates
0   8  72  28  15  75  ...  27  51  59  41            72
1  51  96  31   2  97  ...  88  32  23  45            96
2  89  15  47  58  62  ...  63  84  29  86            89
3  40  11  52  29  15  ...  31  36  68  94            91
4  78   5  25  44  20  ...  90  46  66  40            78
5  60  42  94   8   2  ...  36  45  48  82            82
6  53  62  77  58  60  ...  52  17  82  24            77
7  98  20  17  11  71  ...  49  83  17  84            84

[8 rows x 11 columns]

64. (L2) **Normalize all columns in `df` by subtracting the column mean and divide by standard deviation. Range all columns in `df` such that the minimum value in each column is 0 and max is 1.**

In [66]:
# Input

df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1))

df.apply(lambda col: (col - col.mean()) / col.std()).apply(lambda col: col - col.min()).apply(lambda col: (col / col.max()).round(2))

      0     1     2     3     4     5     6     7     8     9
0  0.04  0.00  1.00  0.27  0.24  0.20  0.13  0.00  0.44  0.00
1  0.74  1.00  0.32  0.80  1.00  0.86  1.00  0.20  0.38  0.99
2  0.57  0.40  0.10  0.88  0.49  1.00  0.68  0.24  0.79  0.93
3  0.00  0.31  0.50  0.79  0.00  0.24  0.34  0.37  0.00  0.17
4  0.68  0.07  0.00  0.00  0.46  0.73  0.65  0.17  0.07  0.86
5  0.06  0.26  0.29  0.98  0.93  0.48  0.00  0.72  1.00  0.38
6  0.68  0.60  0.49  1.00  0.61  0.27  0.80  1.00  0.63  1.00
7  1.00  1.00  0.57  0.87  0.92  0.00  0.35  0.56  0.23  0.20

65. (L2) **Compute the correlation of each row of `df` with its succeeding row.**

In [67]:
# Input

df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1))

pd.DataFrame([
    df.iloc[row].corr(
        df.iloc[row+1]
    )
    for row in range(0, df.shape[0]-1)
])

        0
0  0.4561
1 -0.0563
2  0.1196
3 -0.0356
4 -0.0748
5 -0.6170
6 -0.1904

66. (L2) **Replace both values in both diagonals of `df` with 0.**

In [68]:
# Input

df = pd.DataFrame(np.random.randint(1,100, 100).reshape(10, -1))

eye = pd.DataFrame(np.eye(*df.shape))

df[
    eye != 1.0
][
    pd.DataFrame(np.rot90(eye)) != 1.0
].fillna(value=0)

      0     1     2     3     4     5     6     7     8     9
0   0.0  12.0  70.0  34.0  72.0  39.0  19.0  18.0  66.0   0.0
1  84.0   0.0   6.0  17.0  60.0  36.0  65.0  49.0   0.0  57.0
2   1.0  84.0   0.0  61.0  66.0  57.0  38.0   0.0   6.0  89.0
3   4.0  13.0  12.0   0.0  47.0  54.0   0.0  64.0  37.0  28.0
4  79.0  82.0  23.0   2.0   0.0   0.0  83.0   7.0  61.0  83.0
5  17.0  31.0  33.0  22.0   0.0   0.0  74.0  83.0  73.0  11.0
6  71.0   6.0  55.0   0.0  61.0  43.0   0.0  29.0  21.0   9.0
7  17.0  77.0   0.0  77.0  80.0  14.0  16.0   0.0  53.0  81.0
8  49.0   0.0   5.0   7.0  84.0  17.0  39.0   5.0   0.0  73.0
9   0.0  42.0  45.0  24.0   3.0  45.0  92.0  33.0  90.0   0.0

67. (L2) **This is a question related to understanding of grouped dataframe. From `df_grouped`, get the group belonging to `apple` as a dataframe.**

In [69]:
# Input

df = pd.DataFrame({'col1': ['apple', 'banana', 'orange'] * 3,
                   'col2': np.random.rand(9),
                   'col3': np.random.randint(0, 15, 9)})

df_grouped = df.groupby(['col1'])
df_grouped.get_group('apple')

/tmp/ipykernel_6893/2665296208.py:8: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  df_grouped.get_group('apple')

    col1    col2  col3
0  apple  0.8579     2
3  apple  0.8868    13
6  apple  0.4805    11

68. (L2) **In `df`, find the second largest value of `price` for `banana`**

In [70]:
# Input

df = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                   'rating': np.random.rand(9),
                   'price': np.random.randint(0, 15, 9)})

df.groupby(['fruit']).get_group('banana')['price'].sort_values(ascending=False).values[1]

/tmp/ipykernel_6893/4146610491.py:7: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  df.groupby(['fruit']).get_group('banana')['price'].sort_values(ascending=False).values[1]

13

69. (L1) **In `df`, Compute the mean price of every fruit, while keeping the fruit as another column instead of an index.**

In [71]:
# Input

df = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                   'rating': np.random.rand(9),
                   'price': np.random.randint(0, 15, 9)})

groups = df.groupby('fruit', as_index=False)

# Manual
manual = pd.DataFrame({
    'fruit': [*groups.groups.keys()],
    'means': [
        np.mean(groups.get_group(group)['rating'])
        for group in groups.groups
    ]
})

# Via array methods
arrays = groups['rating'].mean()

print(manual)
print()
print(arrays)

    fruit   means
0   apple  0.6213
1  banana  0.5683
2  orange  0.5730

    fruit  rating
0   apple  0.6213
1  banana  0.5683
2  orange  0.5730

70. (L2) **Join dataframes `df1` and `df2` by `fruit-pazham` and `weight-kilo`.**

In [83]:
# Inputs

df1 = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                    'weight': ['high', 'medium', 'low'] * 3,
                    'price': np.random.randint(0, 15, 9)})

df2 = pd.DataFrame({'pazham': ['apple', 'orange', 'pine'] * 2,
                    'kilo': ['high', 'low'] * 3,
                    'price': np.random.randint(0, 15, 6)})

df1.merge(df2, left_on=['fruit', 'weight'], right_on=['pazham', 'kilo'], how='inner', suffixes=['_df1', '_df2'])

    fruit weight  price_df1  pazham  kilo  price_df2
0   apple   high         13   apple  high          2
1  orange    low         12  orange   low         13
2   apple   high         13   apple  high          2
3  orange    low         10  orange   low         13
4   apple   high          0   apple  high          2
5  orange    low          1  orange   low         13

71. (L3) **From `df1`, remove the rows that are present in `df2`. All three columns must be the same.**

**NOTE** I've changed the inputs to ensure that there WILL BE exactly same rows in both dataframes. The inputs given on the site are kind of wrong.

In [158]:
# Inputs 

df1 = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                    'weight': ['high', 'medium', 'low'] * 3,
                    'price': np.random.randint(0, 15, 9)})

df2 = df1.sample(n=5)

print(df1)
print()
print(df2)
print()

df1[
    df1[
        df1.isin(df2)  # Get rows NOT in df2
    ].isna()  #  NaN -> False (value is not in df2) -> ~ makes it True
].dropna()

    fruit  weight  price
0   apple    high      3
1  banana  medium     11
2  orange     low      7
3   apple    high      7
4  banana  medium      7
5  orange     low      8
6   apple    high     10
7  banana  medium      6
8  orange     low      9

    fruit  weight  price
1  banana  medium     11
6   apple    high     10
5  orange     low      8
8  orange     low      9
4  banana  medium      7

    fruit  weight  price
0   apple    high    3.0
2  orange     low    7.0
3   apple    high    7.0
7  banana  medium    6.0

72. (L2) **Get the positions where values of two columns match**

In [162]:
# Input
df = pd.DataFrame({'fruit1': np.random.choice(['apple', 'orange', 'banana'], 10),
                    'fruit2': np.random.choice(['apple', 'orange', 'banana'], 10)})

np.where(  # Find rows for which True is returned
    df['fruit1'] == df['fruit2']  # Get mask with overlaps between 'fruit1' and 'fruit2'
)

(array([3, 8]),)

73. (L2) **Create two new columns in `df`, one of which is a `lag1` (shift column `a` down by 1 row) of column `a` and the other is a `lead1` (shift column `b` up by 1 row).**

Desired output:

```python
 a   b   c   d
0  66  34  76  47
1  20  86  10  81
2  75  73  51  28
3   1   1   9  83
4  30  47  67   4

a   b   c   d  a_lag1  b_lead1
0  66  34  76  47     NaN     86.0
1  20  86  10  81    66.0     73.0
2  75  73  51  28    20.0      1.0
3   1   1   9  83    75.0     47.0
4  30  47  67   4     1.0      NaN
```

In [170]:
# Input
df = pd.DataFrame(np.random.randint(1, 100, 20).reshape(-1, 4), columns = list('abcd'))

lag1 = df['a'].shift(1)
lag1.name = 'a_lag1'

lead1 = df['b'].shift(-1)
lead1.name = 'b_lead1'

pd.concat([
    df,
    lag1,
    lead1
], axis=1)

    a   b   c   d  a_lag1  b_lead1
0   1  19  19  57     NaN     15.0
1  59  15  27  93     1.0     44.0
2  80  44   3  75    59.0     85.0
3  86  85  55  85    80.0     26.0
4  98  26  61  34    86.0      NaN

74. (L2) **Get the frequency of unique values in the entire dataframe.**

**NOTE**: Frequency as count ... ðŸ¤·

In [190]:
# Iput 

df = pd.DataFrame(np.random.randint(1, 10, 20).reshape(-1, 4), columns = list('abcd'))

pd.Series.value_counts(
    df.to_numpy().flatten()  # Flatten the array
)

5    5
8    4
3    4
1    3
9    2
7    1
2    1
Name: count, dtype: int64

75. (L2) **Split the string column in `df` to form a dataframe with 3 columns as shown.**

Desired output:

```python
0 STD        City        State
1  33     Kolkata  West Bengal
2  44     Chennai   Tamil Nadu
3  40   Hyderabad    Telengana
4  80   Bangalore    Karnataka
```

In [221]:
# Input

df = pd.DataFrame(["STD, City State",
"33, Kolkata Bengal",
"44, Chennai Nadu",
"40, Hyderabad Telengana",
"80, Bangalore Karnataka"], columns=['row'])

split = df.row.str.replace(',', ' ').str.split(' ', expand=True)
split.columns = split.iloc[0]
split = split[1:]
split

0 STD         City      State
1  33      Kolkata     Bengal
2  44      Chennai       Nadu
3  40    Hyderabad  Telengana
4  80    Bangalore  Karnataka